body{

display: flex;
flex-wrap: wrap;
justify-content: center;




}

.apidata{
    
    position: absolute;
    left: 0px;
    width: 100%;
    padding: 15px;
    padding-inline: 5pc;
    background-color: rgb(142, 142, 252);
}    

.card {
position: absolute;
top: 150px;
 width: 400px !important;
 height: 300px;
 line-height: 25px;
border:3px solid black !important;
background-color: aqua !important;
box-shadow: 0px 50.660242795944214px 30.301215171813965px 0px #0000001a;
margin: 10px;
   
}
.card-title{
    line-height:30px;
    text-decoration: underline;

}
.card-text{
    align-items: center;
    font-size: 15px;
    line-height: 10px;
}
.card-body{
    width: 400px;
    height: 350px;
    font-weight: 300px;
   
}