body{

display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;

}

.apidata{
    
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 15px;
    padding-inline: 5pc;
    background-color: rgb(142, 142, 252);
}    

.card {
position: absolute;
top: 100px;
left: -50px;
 width: 400px !important;
 height: 300px;
 line-height: 25px;
border:3px solid black !important;
background-color: aqua !important;
box-shadow: 0px 50.660242795944214px 30.301215171813965px 0px #0000001a;
margin-top:20px ;
margin-left: 80px;
   
}
.card-title{
    line-height:30px;
    text-decoration: underline;

}
.card-text{
    align-items: center;
    font-size: 15px;
    line-height: 10px;
}
.card-body{
    width: 400px;
    height: 350px;
    font-weight: 300px;
   
}
@media screen and (max-width:1440px){
    body{

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        
        }
        
        .apidata{
            
            position: absolute;
            top: 0px;
            left: 0px;
            width:110%;
            padding: 10px;
            padding-inline: 2pc;
            background-color: rgb(142, 142, 252);
        }    
        
        .card {
        position: absolute;
        top: 100px;
        left: -50px;
       
         width: 208px !important;
         height: 280px !important;
         line-height: 25px;
        border:3px solid black !important;
        background-color: aqua !important;
        box-shadow: 0px 50.660242795944214px 30.301215171813965px 0px #0000001a;
        margin-top:20px ;
        margin-left: 80px;
           
        }
        .card-title{
            font-size: 13px;
            line-height:15px;
            text-decoration: underline;
        
        }
        .card-text{
            margin-top: 10px;
            align-items: center;
            font-size: 8.5px;
            line-height: 5px;
        }
        .card-body{
            width: 400px;
            height: 350px;
            font-weight: 300px;
           
        }
    
}